1000;Alex;Long; 5 Up street;New Your;00100;alex.long@gmail.moc;+1999888777;edit;another note
10000021;Lucy;Short;;;;lucy.short@mgail.com;;;
10000038;Jane;Bell;;;;jane.bell@some.com;;;
10000045;Ronnie;Cable;;;;cableronnie@anything.com;+1987666345;note;

